html, body {
    width: 1920px;
    height: 960px;
    top: -213px;
    left: 4077px;

}

body {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.signup-page{
    background-image: url('./images/sign-up.png');
}

.chat-page{
    background-image: url('./images/chat.png');
    
}